.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link {
    text-decoration: none;
    color: blue;
    font-size: 16px;
    align-self: center;
    margin-bottom: 1rem;
}

.image {
    max-width: 70%;
    max-height: 70%;
}